<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Exam Portal</title>
</head>
<!-- Header Showcase -->
<header id="showcase">
  <div class="showcase-content">
    <h1 class="l-heading">
      Online Exam Poral
    </h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum itaque ad, deserunt debitis hic provident.</p>
    <a href="#what" class="btn">Read More</a>
  </div>
</header>

<!-- Section What We Do -->
<section id="what" class="bg-light py-1">
  <div class="container">
    <h2 class="m-heading text-center"><span class="text-primary">Test</span> Your Skills</h2>
    <div class="items">
      <div class="item">
        <i class="fas fa-university fa-2x"></i>

        <div>
          <h3>Programming Languages</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ipsa?</p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-book-reader fa-2x"></i>
        <div>
          <h3>Current Affairs</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ipsa?</p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-pencil-alt fa-2x"></i>
        <div>
          <h3>Grammar and Lot More</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ipsa?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Who We Are  -->
<section id="who">
  <div class="who-img"></div>
  <div class="who-text bg-dark p-2">
    <h2 class="m-heading"><span class="text-primary">Who</span> We Are</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, sequi veniam deserunt doloribus voluptas blanditiis dicta, eos nisi ipsa nemo nam, et id culpa! Exercitationem sequi dolorum voluptates laborum praesentium?</p>
    <h3>Our Team</h3>
    <ul class="list">
      <li>Mark Smith: CEO</li>
      <li>Shannon Johson: CFO</li>
      <li>John Corbit: Lead Accountant</li>
      <li>Janet Williams: Investment Manager</li>
      <li>Kara Jackson: Senior Accountant</li>
    </ul>
  </div>
</section>

<!-- Section Clients -->
<section id="clients" class="py-1">
  <div class="container">
    <h2 class="m-heading text-center">
      <span class="text-primary">Our</span> Clients
    </h2>
    <div class="items py-1">
      <div><img src="../../../assets/img/logo1.png" alt="Client"></div>
      <div><img src="../../../assets/img/logo2.png" alt="Client"></div>
      <div><img src="../../../assets/img/logo3.png" alt="Client"></div>
      <div><img src="../../../assets/img/logo4.png" alt="Client"></div>
      <div><img src="../../../assets/img/logo5.png" alt="Client"></div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer id="main-footer" class="bg-dark text-center py-1">
  <div class="conatiner">
    <p>Copyright &copy; 2022, ExamPortal, All Rights Reserved</p>
  </div>
</footer>
